/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body background image */
body {
    font-family: Arial, sans-serif;
    background-image: url('images/harvard.jpg'); /* Replace with your image */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    text-align: center;
}

/* Form container styling with backdrop filter */
h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 2rem;
}

form {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(50px); /* Frosted glass effect */
    
}

/* Input and button styling */
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
    background-color: #fff;
    color: #333;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #feb47b;
    outline: none;
}

/* Button styling */
button {
    width: 100%;
    padding: 12px;
    background-color: #5f48a3;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4a04fb;
}

/* Error message styling */
p {
    font-size: 1rem;
    color: red;
    margin-top: 15px;
}
