body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff; /* Light blue background */
    color: #333;
    margin: 20px;
}

h2, h3, h4 {
    color: #4a90e2; /* Sky blue for headings */
}

button {
    background-color: #4caf50; /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
}

button:hover {
    background-color: #45a049; /* Darker green */
}

a {
    color: #f2f5f8;
    text-decoration: none;
    font-weight: bold;
}

/* a:hover {
    text-decoration: underline;
} */

#addInfoForm {
    background-color: #ffffff; /* White background */
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

input[type="text"], input[type="number"], input[type="file"], textarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #357ab7; /* Darker blue */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4a90e2;
    color: white;
}

td {
    background-color: #f9f9f9;
}

form input[type="submit"] {
    display: block;
    margin: 20px auto; /* Centers the button */
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}